<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--  解决中文乱码问题  -->
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>org.labbooksys.web.filter.CharacterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--  解决跨域问题  -->
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/login/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.login.FindUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/findUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.login.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SwiperServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.swiper.SwiperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwiperServlet</servlet-name>
        <url-pattern>/swiper</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TitleListServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.cat.TitleListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TitleListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetPersonalMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.personalMsg.GetPersonalMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPersonalMsgServlet</servlet-name>
        <url-pattern>/msg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetPersonalMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.personalMsg.SetPersonalMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetPersonalMsgServlet</servlet-name>
        <url-pattern>/msg/setMsg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetLabsMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.lab.GetLabsMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLabsMsgServlet</servlet-name>
        <url-pattern>/labMsg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropLabServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.lab.DropLabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropLabServlet</servlet-name>
        <url-pattern>/labMsg/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetLabsMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.lab.SetLabsMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetLabsMsgServlet</servlet-name>
        <url-pattern>/labMsg/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPersonalLabServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.lab.GetPersonalLabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPersonalLabServlet</servlet-name>
        <url-pattern>/labMsg/personal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBooksMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.book.GetBooksMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBooksMsgServlet</servlet-name>
        <url-pattern>/bookMsg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetBookMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.book.SetBookMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetBookMsgServlet</servlet-name>
        <url-pattern>/bookMsg/createBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropBookMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.book.DropBookMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropBookMsgServlet</servlet-name>
        <url-pattern>/bookMsg/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetBookedMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.book.SetBookedMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetBookedMsgServlet</servlet-name>
        <url-pattern>/bookMsg/booked</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetAllMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.personalMsg.GetAllMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllMsgServlet</servlet-name>
        <url-pattern>/allMsg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropMsgServlet</servlet-name>
        <servlet-class>org.labbooksys.web.servlet.personalMsg.DropMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropMsgServlet</servlet-name>
        <url-pattern>/allMsg/delete</url-pattern>
    </servlet-mapping>
</web-app>
